%h1 Update your credit card

%h2 Current card
= @current_card.card_number
%br
= "Exp: #{@current_card.expiration_date}"
	
%h2 Update card
= simple_form_for [@subscription, @credit_card] do |f|
	= render :partial => 'saasaparilla/subscription/credit_card_form', :locals => {:f => f}
	= f.submit "Update Card"