<div class="saasaparilla">

	<h1>Plans</h1>

	<table>
	  <tr>
	    <th>Name</th>
	    <th>Billing period</th>
	    <th>Subscription</th>
	    <th>Extras</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @plans.each do |plan| %>
	  <tr>
	    <td><%= plan.name %></td>
	    <td><%= plan.billing_period %></td>
	    <td><%= plan.subscription_id %></td>
	    <td><%#= plan.extras %></td>
	    <td><%= link_to 'Show', admin_plan_path(plan) %></td>
	    <td><%= link_to 'Edit', edit_admin_plan_path(plan) %></td>
	    <td><%= link_to 'Destroy', admin_plan_path(plan), :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

	<p><%= link_to 'New Plan', new_admin_plan_path %></p>

</div>