%h2 Your account will be cancelled soon

%p
   = "Our attempt to charge your credit card $#{@amount} for your #{@subscription.plan.billing_period} subscription to the #{@subscription.plan.name} plan has failed multiple times. Please visit #{@url} to fix this problem."
   If this problem is not fixed soon, your account will be cancelled and deleted. 
   If you need any assistance, please contact the administrator.
